
<h1>Pirate Name: <%= @pirate.name %></h1>
<ul>
<li>Height: <%= @pirate.height %></li>
<li>Weight: <%= @pirate.weight %></li>


<% @ships.each do |ship| %>
    <ul>
    <li><h2>Ship Name: <%= ship.name %></h2></li>
    <ul>
    <li>Ship type: <%= ship.type %></li>
    <li>Ship booty:<%= ship.booty %></li>
    </ul>
    </ul>
<% end %>
</ul>
