
<h1><%= @pirate.name %></h1>
<ul>
<li><%= @pirate.height %></li>
<li><%= @pirate.weight %></li>
</ul>

<% @ships.each do |ship| %>
    <h2><%= ship.name %></h2>
    <ul>
    <li><%= ship.booty %></li>
    </ul>
<% end %>

